In [1]:
list=[1,2,4,45,5,5,12,312,43,4,2312,4,234,23,421,34,3]
cumsum=[]
sum=0
for i in list:
    sum=sum+i
    cumsum.append(sum)

print(cumsum)

[1, 3, 7, 52, 57, 62, 74, 386, 429, 433, 2745, 2749, 2983, 3006, 3427, 3461, 3464]

In [7]:
dict={1:'a',2:'b',3:'c',4:'d'}

def invert_dictionary(d):
    keys=dict.keys()
    values=dict.values()
    new_dict={}
    for key,value in zip(keys,values):
        new_dict[value]=key
    return new_dict

print(invert_dictionary(dict))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
class Date:
    def __init__(self,year,month,day):
        try:
            if not(day<1 or day>31):
                if not(month<1 or month>12):
                    self.year=year
                    self.month=month
                    self.day=day
                else:
                    raise TypeError("Invalid date")
            else:
                raise TypeError("Invalid date")
        except TypeError:
            raise TypeError("Invalid date")
    def format1(self):
        return f"{self.day}/{self.month}/{self.year}"

    def format2(self):
        months=["January",'February','March','April','May','June','July','August','September','October','November','December']
        for i in range(len(months)):
            if i==self.month-1:
                return f"{months[i]} {self.day}, {self.year}"
    def format3(self):
        months=["January",'February','March','April','May','June','July','August','September','October','November','December']
        for i in range(len(months)):
            if i==self.month-1:
                return f"{self.day} {months[i]} {self.year}"

a=Date(2021,1,12)
print(a.format1())
print(a.format2())
print(a.format3())

12/1/2021
January 12, 2021
12 January 2021

In [49]:
import pandas as pd
df=pd.read_csv('TestMax.csv')

df["Maxvalue"]=df[["Max1",'Max2','Max3']].max(axis=1)
df[['Year1','Maxvalue']]

   Year1  Maxvalue
0   2001       101
1   2002       103
2   2003        89
3   2004        91

In [72]:
a='123456789'
a[]

'21'